<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="container">
<h1><%= title %></h1>
<form action="/user/new" style="margin-bottom: 10px;">
  <button type="submit" class="btn btn-success">Add User</button>
</form>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>User Type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% for (var i=0; i<users.length;i++){ %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= users[i].first_name %></td>
        <td><%= users[i].last_name %></td>
        <td><%= users[i].address %></td>
        <td><%= users[i].phone %></td>
        <td><%= users[i].email %></td>
        <td><%= users[i].user_type_name%></td>
        <td><%= users[i].status_name%></td>
        <td>
        <a href="/user/delete/<%= users[i].user_id %>" class="btn btn-danger">Delete</a>
        <a href="/user/edit/<%= users[i].user_id %>" class="btn btn-info">Edit</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>

</div>
</body>
</html>